# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
.next/
out/
build/
.turbo/

# Env — nunca commitar segredos
.env
.env.*
!.env.example

# Prisma
apps/api/prisma/generated/

# Flutter / Dart
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins*
apps/mobile/build/
apps/mobile/ios/Pods/
apps/mobile/android/.gradle/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
*.iml

# Logs
*.log
